flask
flask-cors
pymongo
pandas
numpy
scikit-learn
openpyxl
lxml
flask-jwt-extended
flasgger
python-dotenv
bcrypt
imbalanced-learn
gensim
sentence-transformers
polars
joblib
python-dateutil
scipy
gunicorn
